<div>
    <div>
        <input style="width: 500px;" type="text" placeholder="Search Books" id="search" [(ngModel)]="bookName" />
        <button (click)="onSearch();openSuccess()">Search</button>

    </div>

<div class="serchcon">
    <div id="resSearch" *ngFor="let book of bookApi.books">
        <img src="{{book.imageLink}}">
        <p><b>Title</b> : {{book.title}}</p>
        <p><b>Subtitle</b> : {{book.subtitle}}</p>
        <p><b>Average Rate</b> : {{book.averageRating}}</p>
        <p><b>Publisher</b> : {{book.publisher}}</p>
        <p><b>Language</b> : {{book.language}}</p>
        <p><b>Pages Number</b> : {{book.pageCount}}</p>
        <p><b>Rating Count</b> : {{book.ratingsCount}}</p>
        <button (click)="openPreview(book.previewLink)">Preview Book</button>
    </div>
</div>
</div>