.user-details-container {
    border-style: solid;
    border-color: black;
    padding: 1rem;
    margin: 0.5rem;
    text-align: center;
    height: 210px; 
    width: 150px;
 
   }

img{
    height: 115px;

}